@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@200;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', cursive;
	font-weight: 400;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: #8ec7ef;
	font-family: "Oswald", cursive;
}


h1 {
	font-size: 1.7em;
	text-align: center;
}

h4 {
	font-size: 1em;
	text-align: center;
}

p {
	font-size: 0.8em;
	justify-content: space-evenly;
}

.form-control {
	opacity: 0.4;
	outline: 1px solid grey;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col-sm-6 {
	background-color: #8093f1;
	border: 0.5px solid black;
	padding: 10px;
	border-radius: 7px;
	opacity: 0.3;
}

.btn {
	color: black;
	background-color: #8093f1;
	width: 100%;
	font-size: 25px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.btn:hover {
	background-color: #4154b7;

	transition: 500ms;

}

.contact-info {
	padding: 5px;
	font-size: 1.4em;

}

.checkbox {
	font-size: 18px;
	margin: 5px;
}

footer h5 {
	font-size: 0.8rem;
	text-align: center;
	margin-top: 10px;
}

.selection {
	font-size: 18px;
}