* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

body {
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: rgba(0, 0, 0, 0.4) url("/20220503_162215.jpg");
	/* background-image: url("/20220503_162215.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -200px;
	/* background-blend-mode: darken; */

}

.container {
	/* border: 1px solid grey; */
	padding: 5px;
	/* border-radius: 7px; */
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}


h1 {
	font-size: 1.5em;
	text-align: center;
	color: black;
}

#instructions {
	color: white;
	font-size: 1em;
	text-align: center;
	font-weight: 500;
}

p {
	font-size: 0.9em;
	justify-content: space-evenly;
}

.form-control {
	opacity: 0.8;
	outline: 1px solid grey;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col-sm-6 {
	background-color: #8093f1;
	border: 0.5px solid black;
	padding: 10px;
	border-radius: 7px;
	opacity: 0.3;
}

.btn {
	color: black;
	background-color: #93daf7;
	opacity: 0.8;
	width: 100%;
	font-size: 25px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.btn:hover {
	color: black;
	background-color: #4154b7;
	transition: 500ms;
}

.contact-info {
	padding: 5px;
	font-size: 1.4em;

}

.checkbox {
	font-size: 1.4em;
	margin: 5px;
	color: white;

}

.selection {
	font-size: 1.2em;
	color: white;
}

#info-container p {
	font-size: 0.9em;
	text-align: center;
	color: black;
}